*{
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    position: relative;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 0px;
}

#searchForm{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#search{
    padding: 4px 10px;
    border-radius: 10px;
}

#searchBtn{
    padding: 5px 10px;
    border-radius: 20px;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 2vw 10px 4vw;
}

#currentWeather{
    display: flex;
    justify-content: space-between;
}

#top{
    width: min(600px,70vw);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mainInfo{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 70px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.conditionCon{
    display: flex;
    align-items: center;
}

.conditionCon p{
    margin: 0px;
}

.asideIcon{
    height: 50px;
    width: auto;
}

#sideInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 10px;
}

#detalles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#time{
    font-size: 24px;
}

#forecastContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(215px,1fr));
    gap: 15px;
}

.dayCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}

.dayCardNight{
    background-color: darkcyan;
}

.dayCardSunny{
    background-color: bisque;
}

footer{
    display: flex;
    justify-content: space-around;
}

.sunny{
    /* Specify the URL of the image */
    background-image: url('./img/sunny.jpg');
    background-repeat: repeat; 
    background-position: center center; /* Positions the image at the center */
    color: black;
}

.night{
    background-image: url('./img/night.jpg');
    background-repeat: repeat; 
    background-position: center center; /* Positions the image at the center */
    color: white;
}

/*Hour forecast container*/

#hourForecast{
    width: 0px; 
    height: fit-content;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    word-wrap: none;
    transition: width 0.5s  ease-in-out;
}

#hourForecast.visible{
    width:100%; 
}

.time{
    font-size: 24px;
}

#hourContainer{
    display: flex;
    flex-direction: column;
    padding: 20px 15vw;
    gap: 20px;
}

.hourContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto;
    align-items: center;
    border: 2px solid black;
}

.hourContainer p{
    margin: 0px;
}

.hourCondition{
    grid-row: 2/3;
    grid-column: 1/3;
}

/*Media queries*/
/*Media query para cambiar de horizontal a vertical la presentacion*/
@media (max-width: 650px) {
    #currentWeather{
        flex-direction: column;
        gap: 20px;
    }

    #top{
        width: 100%;
    }

    #sideInfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
  }

@media (max-width:500px) {
    #forecastContainer{
        justify-items: center;
    }
}

/*Media query final para dispositivos menor a <=400px*/
@media (max-width:400px){
    #sideInfo{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        padding-left: 10vw;
    }

    #detalles{
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        padding-left: 10vw;
    }
}